<div id="titlebar">
<div id="icon"></div>
<h1>{{ title }}</h1>
</div>

<div id="post-space">
<app-posts ></app-posts>
</div>

<agm-map  
[latitude]="lat" 
[longitude]="lng"
[zoom]="11"
>
  <agm-marker
    *ngFor="let post of posts" 
    (markerClick)="clickedMarker(post.id); gm.lastOpen?.close(); gm.lastOpen = infoWindow; markerClicked(m);"

    [latitude]="post.lat" 
    [longitude]="post.lng"
    >
      <agm-info-window>
        <strong>{{post.name}}</strong>
        <p>genre: {{post.genre}}</p>
      </agm-info-window>
    </agm-marker>
</agm-map>



