* {
  margin: 0;
  padding: 0;
}

agm-map {
  height: 35rem;

}

#main-content {
  /* height: 900px; */
}

#post-space {
  height: 45rem;
  max-width: 22rem;
  min-width: 9.7rem;
  width: 30%;
  overflow: scroll;
  float: left;
}

h1 {
  font-family: 'Gaegu', cursive;
  font-size: 3rem;
  margin-left: 0.75rem;
}

h1 span {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

strong {
  font-weight: bold;
}

#titlebar {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #titlebar {
    flex-direction: column;
    text-align: center;
  }
  h1 span {
    font-size: 1.25rem;
  }
  #post-space {

    min-width: 100%;
    float: none;
  }

  #map-space{
    max-width: 100%;
  }

}

#icon {
  width: 3rem;
  height: 3rem;
}

#conditions {
  display: flex;
  height: 10rem;
  color: #777;
  border-bottom: 1px solid grey;
  font-size: 1.1rem;
  overflow: auto;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0.4rem;
  width: 50%;
  min-width: 31.5rem;
}

.list h4 {
  margin: 0.2rem 0.1rem;
  padding-bottom: 0.4rem;
}

.list>div {
  margin: 0 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

footer {
  height: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: none;
}

.wrap {
  margin-bottom: 2rem;
}

footer i {
  color: grey;
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  font-size: 1.5rem;
  margin-right: 0.13rem;
}

footer p {
  font-size: 1rem;
}

footer i:hover {
  color: coral;
}