*{
  margin: 0;
  padding: 0;
}

agm-map {
  height: 600px;
 
 
}

#post-space{
  height: 800px;
  max-width: 500px;
  width: 30%;
  overflow: scroll;
  float: left;
}


h1{
  font-family: 'Gaegu', cursive;
  font-size: 60px;
}

strong{
  font-weight: bold;
}

#titlebar {
  display: flex;
  align-items: center;
}

#icon {
  background-image: url('../icon.jpg');
  border-radius: 50%;
  min-height: 60px;
  min-width: 60px;
  margin: 0 10px;

}